body {
  background: #fff;
  color: #111;
  font-size: 16px;
  line-height: 20px;
  font-family: "Lucida Console", Monaco, monospace;
  text-align: left;
  margin: auto;
  max-width: 900px;
}




#header {
  padding: 30px 24px 24px 24px;
  border-bottom: 1px solid #585450
}

#header > a {
  text-decoration: none;
}

#header h2 {
  margin: 5px 0 0;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  font-weight:100;
  color: #585450;
}

#navbar {
  overflow: hidden;
  border-top: 4px solid #d11d57;
  background: #540c23;
  padding: 0 0 0 0;
  border-bottom-left-radius:  3px;
  border-bottom-right-radius: 3px;
}

#navbar a {
  float: left;
  display: block;
  color: #F6F6F3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-shadow: 0 1px 0 #000;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #340013;
  border-bottom-left-radius:  3px;
  border-bottom-right-radius: 3px;
}

#navbar a.active {
  background-color: #d11d57;
}

.sticky{
  position: fixed;
  width: 100%;
  max-width: 900px;
  top: 0;
}
