#header {
  padding: 30px 24px 24px 24px;
  background: #f0f0f0;
}

#logo {
  text-align: left;
  max-width: 800px;
  margin: auto;
}

#logo a {
  border-bottom: none;
  text-decoration: none;
}

#logo h2 {
  margin: 5px 0 0;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  color: #d11d57;
}

#navbar {
  background: #1b1a1e;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#links {
  margin: auto;
  max-width: 800px;
}

#links a {
  border-bottom: none;
  color: #f0f0f0;
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: color 0.3s;
}

#links a:hover {
  color: #d11d57;
}

#links a.active {
  color: #d11d57;
  border-bottom: 3px solid;
  transition: border-bottom 0.3s;
}

body {
  background: #f0f0f0;
  color: #231a1c;
  font-size: 13px;
  font-family: "Lucida Console", Monaco, monospace;
  text-align: left;
  margin: auto;
}

#content {
  align: center;
  max-width: 800px;
  line-height: 1.3em;
  margin: auto;
}

a {
  color: #d11d57;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 2px solid;
  transition: border-bottom 0.25s;
}

a:hover {
  border-bottom: none;
  transition: border-bottom 0.25s;
}

h1 {
  font-size: 17px;
  color: #d11d57
}

h2 {
  font-size: 15px;
  color: #d11d57
}

hr {
  border: none;
  height: 3px;
  background-color: #d11d57;
}

#footer {
  padding: 30px 24px 24px 24px;
  color: #f0f0f0;
  background: #1b1a1e;
  text-align: center;
}
